<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom"><%= t("features.heading") %></h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold"><%= t("features.subheading") %></h3>
        <p class="text-muted"><%= t("features.paragraph") %></p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="d-inline-flex align-items-center fs-4 rounded-3">
              <h4 class="fw-semibold mb-0"><%= t("features.feature1.heading") %></h4>
              
            </div>
            <p class="text-muted"><%= t("features.feature1.paragraph").html_safe %></p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="d-inline-flex align-items-center fs-4 rounded-3">
              <i class="bi bi-lightning-charge"></i>
              <h4 class="fw-semibold mb-0"><%= t("features.feature2.heading") %></h4>
            </div>
            <p class="text-muted"><%= t("features.feature2.paragraph").html_safe %></a></p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="d-inline-flex align-items-center fs-4 rounded-3">
              <i class="bi bi-graph-up"></i>&nbsp;
              <h4 class="fw-semibold mb-0"><%= t("features.feature3.heading") %></h4>
            </div>
            <p class="text-muted"><%= t("features.feature3.paragraph").html_safe %></p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="d-inline-flex align-items-center fs-4 rounded-3">
              <h4 class="fw-semibold mb-0"><%= t("features.feature4.heading") %></h4>
            </div>
            <p class="text-muted"><%= t("features.feature4.paragraph").html_safe %></p>
          </div>
        </div>
      </div>
    </div>
  </div>